# Analysis

## This notebook is

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [5]:
import sqlite3
import pandas as pd
import numpy as np

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connecting to the database

In [4]:
%sql sqlite:///airpassenger.db

'Connected: None@airpassenger.db'

In [7]:
airportterminal_rs = %sql None@airpassenger.db SELECT * FROM AIRPORTDIMENSION;
airportterminal = airportterminal_rs.DataFrame().set_index('AirportID')
airportterminal

Done.

                Terminal BoardingArea
AirportID
1             Terminal 1            B
2          International            G
3          International            A
4             Terminal 3            E
5             Terminal 1            C
6             Terminal 1            A
7             Terminal 3            F
8                  Other        Other
9             Terminal 2            D

In [9]:
passenger_rs = %sql None@airpassenger.db SELECT * FROM PASSENGERFACT;
passenger = passenger_rs.DataFrame().set_index('EntryID')
passenger

Done.

,OperatingID,AirportID,GeoID,ActivityID,TimeID,PublishedID,PassengerCount
EntryID,,,,,,,
1,1,1,1,1,1,1,27271
2,1,1,1,2,1,1,29131
3,1,1,1,3,1,1,5415
4,1,1,1,1,2,1,27472
5,1,1,1,2,2,1,26535
6,1,1,1,3,2,1,5712
7,1,1,1,1,3,1,17341
8,1,1,1,2,3,1,18541
9,1,1,1,3,3,1,4412
10,1,1,1,1,5,1,17698
11,1,1,1,2,5,1,19983
12,1,1,1,3,5,1,5754
13,1,1,1,1,6,1,16855
14,1,1,1,2,6,1,17376
15,1,1,1,3,6,1,2911
16,1,1,1,1,7,1,15373
17,1,1,1,2,7,1,16790
18,1,1,1,3,7,1,2402
19,1,1,1,1,8,1,13010
20,1,1,1,2,8,1,12226
21,1,1,1,3,8,1,3316
22,1,1,1,1,9,1,9180
23,1,1,1,2,9,1,10323
24,1,1,1,3,9,1,3863
25,1,1,1,1,10,1,11583
26,1,1,1,2,10,1,11921
27,1,1,1,3,10,1,3870
28,1,1,1,1,11,1,11920
29,1,1,1,2,11,1,11890
30,1,1,1,3,11,1,2419
...,...,...,...,...,...,...,...
193786,54,9,1,1,145,47,236342
193787,54,9,1,2,145,47,231897
193788,54,9,2,2,145,47,5328
193789,54,9,3,2,145,47,5328
193790,54,9,4,2,145,47,5328
193791,54,9,5,2,145,47,5328
193792,54,9,6,2,145,47,5328
193793,54,9,7,2,145,47,5328
193794,54,9,8,2,145,47,5328
193795,54,9,9,2,145,47,5328
193796,54,9,1,1,146,47,236923
193797,54,9,1,2,146,47,233852
193798,54,9,2,2,146,47,3582
193799,54,9,3,2,146,47,3582
193800,54,9,4,2,146,47,3582
193801,54,9,5,2,146,47,3582
193802,54,9,6,2,146,47,3582
193803,54,9,7,2,146,47,3582
193804,54,9,8,2,146,47,3582
193805,54,9,9,2,146,47,3582
193806,54,9,1,1,147,47,218204
193807,54,9,1,2,147,47,223301
193808,54,9,2,2,147,47,1846
193809,54,9,3,2,147,47,1846
193810,54,9,4,2,147,47,1846
193811,54,9,5,2,147,47,1846
193812,54,9,6,2,147,47,1846
193813,54,9,7,2,147,47,1846
193814,54,9,8,2,147,47,1846
193815,54,9,9,2,147,47,1846

In [10]:
%%sql
select terminal, sum(passengercount)
from AIRPORTDIMENSION JOIN PASSENGERFACT ON (AIRPORTDIMENSION.AirportID = PASSENGERFACT.AirportID)
group by terminal;

Done.

[('International', 1805337136),
 ('Other', 228),
 ('Terminal 1', 407671524),
 ('Terminal 2', 48724642),
 ('Terminal 3', 559782518)]

In [17]:
airportterminal_rs = %sql None@airpassenger.db select ActivityType, sum(passengercount) from ACTIVITYDIMENSION JOIN PASSENGERFACT ON (ACTIVITYDIMENSION.ActivityID = PASSENGERFACT.ActivityID) group by ActivityType;
airportterminal = airportterminal_rs.DataFrame()
airportterminal

Done.

     ActivityType  sum(passengercount)
0        Deplaned           1412383233
1        Enplaned           1399418473
2  Thru / Transit              9714342