## SQLite DDL

## This notebook is the DDL of the air traffic database.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [13]:
import sqlite3
import pandas as pd

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connecting to the database

In [14]:
%sql sqlite:///airtraffic.db

'Connected: None@airtraffic.db'

### Creating tables schema

In [15]:
%%sql 
CREATE TABLE AIRPORTDIMENSION (
    AirportID INTEGER PRIMARY KEY,
    Terminal TEXT NOT NULL,
    BoardingArea TEXT
);

(sqlite3.OperationalError) table AIRPORTDIMENSION already exists [SQL: 'CREATE TABLE AIRPORTDIMENSION (\n    AirportID INTEGER PRIMARY KEY,\n    Terminal TEXT NOT NULL,\n    BoardingArea TEXT\n);']

In [16]:
%%sql 
CREATE TABLE GEOGRAPHICDIMENSION (
    GeoID INTEGER PRIMARY KEY,
    GeoSummary TEXT NOT NULL,
    GeoRegion TEXT NOT NULL
);

(sqlite3.OperationalError) table GEOGRAPHICDIMENSION already exists [SQL: 'CREATE TABLE GEOGRAPHICDIMENSION (\n    GeoID INTEGER PRIMARY KEY,\n    GeoSummary TEXT NOT NULL,\n    GeoRegion TEXT NOT NULL\n);']

In [17]:
%%sql 
CREATE TABLE OPERATINGAIRDIMENSION (
    OperatingID INTEGER PRIMARY KEY,
    OperatingAirlineIdentifier TEXT,
    OperatingIATA TEXT
);

Done.

[]

In [18]:
%%sql 
CREATE TABLE PUBLISHEDAIRDIMENSION (
    PublishedID INTEGER PRIMARY KEY,
    PublishedAirline TEXT,
    PublishedIATA TEXT
);

Done.

[]

In [19]:
%%sql
CREATE Table BRIDGEDIMENSION (
    BridgeID INTEGER PRIMARY KEY,
    PublishedID INTERGER NOT NULL,
    OperatingID INTERGER NOT NULL,
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID),
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
);

Done.

[]

In [20]:
%%sql
CREATE TABLE AIRTERMINAL (
    ActivityID INTEGER PRIMARY KEY,
    ActivityType TEXT NOT NULL
);

Done.

[]

In [21]:
%%sql
CREATE TABLE PRICEDIMENSION (
    PriceID INTEGER PRIMARY KEY,
    PriceCategory TEXT NOT NULL
);

Done.

[]

In [22]:
%%sql
CREATE TABLE TIMEDIMENSION (
    TimeID INTEGER PRIMARY KEY,
    ActivityPeriod INTEGER NOT NULL,
    ActivityPeriodMonth INTEGER NOT NULL,
    ActivityPeriodYear INTEGER NOT NULL
);

Done.

[]