# SQLite DDL for *All About SFO*

## This notebook is the DDL of the air passenger database.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [1]:
import sqlite3
import pandas as pd

%load_ext sql

### Connecting to the database

In [2]:
%sql sqlite:///airpassenger.db

'Connected: None@airpassenger.db'

### Creating tables schema

In [33]:
%%sql 
CREATE TABLE IF NOT EXISTS AIRPORTDIMENSION (
    AirportID INTEGER PRIMARY KEY,
    Terminal TEXT NOT NULL,
    BoardingArea TEXT
);

Done.

[]

In [34]:
%%sql 
CREATE TABLE IF NOT EXISTS GEOGRAPHICDIMENSION (
    GeoID INTEGER PRIMARY KEY,
    GeoSummary TEXT NOT NULL,
    GeoRegion TEXT NOT NULL
);

Done.

[]

In [35]:
%%sql 
CREATE TABLE IF NOT EXISTS OPERATINGAIRDIMENSION (
    OperatingID INTEGER PRIMARY KEY,
    OperatingAirlineIdentifier TEXT,
    OperatingIATA TEXT
);

Done.

[]

In [36]:
%%sql 
CREATE TABLE IF NOT EXISTS PUBLISHEDAIRDIMENSION (
    PublishedID INTEGER PRIMARY KEY,
    PublishedAirline TEXT,
    PublishedIATA TEXT
);

Done.

[]

In [37]:
%%sql
CREATE TABLE IF NOT EXISTS BRIDGEDIMENSION (
    BridgeID INTEGER PRIMARY KEY,
    PublishedID INTERGER NOT NULL,
    OperatingID INTERGER NOT NULL,
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID),
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
);

Done.

[]

In [38]:
%%sql
CREATE TABLE IF NOT EXISTS ACTIVITYDIMENSION (
    ActivityID INTEGER PRIMARY KEY,
    ActivityType TEXT NOT NULL
);

Done.

[]

In [39]:
%%sql
CREATE TABLE IF NOT EXISTS PRICEDIMENSION (
    PriceID INTEGER PRIMARY KEY,
    PriceCategory TEXT NOT NULL
);

Done.

[]

In [40]:
%%sql
CREATE TABLE IF NOT EXISTS TIMEDIMENSION (
    TimeID INTEGER PRIMARY KEY,
    ActivityPeriod INTEGER NOT NULL
);

Done.

[]

In [10]:
%%sql
CREATE TABLE IF NOT EXISTS PASSENGERFACT (
    EntryID INTEGER PRIMARY KEY,
    OperatingID INTEGER,
    AirportID INTEGER,
    GeoID INTEGER,
    ActivityID INTEGER,
    TimeID INTEGER,
    PublishedID INTEGER,
    PriceID INTEGER,
    PassengerCount INTEGER NOT NULL,
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
    FOREIGN KEY (AirportID) REFERENCES AIRPORTDIMENSION (AirportID),
    FOREIGN KEY (GeoID) REFERENCES GEOGRAPHICDIMENSION (GeoID),
    FOREIGN KEY (ActivityID) REFERENCES ACTIVITYDIMENSION (ActivityID),
    FOREIGN KEY (TimeID) REFERENCES TIMEDIMENSION (TimeID),
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID)
    FOREIGN KEY (PriceID) REFERENCES PRICEDIMENSION (PriceID)
);

Done.

[]

### Viewing table schema with pragma queries

In [42]:
%%sql
pragma table_info('AIRPORTDIMENSION');

Done.

[(0, 'AirportID', 'INTEGER', 0, None, 1),
 (1, 'Terminal', 'TEXT', 1, None, 0),
 (2, 'BoardingArea', 'TEXT', 0, None, 0)]

In [43]:
%%sql
pragma table_info('ACTIVITYDIMENSION');

Done.

[(0, 'ActivityID', 'INTEGER', 0, None, 1),
 (1, 'ActivityType', 'TEXT', 1, None, 0)]

In [44]:
%%sql
pragma table_info('PRICEDIMENSION');

Done.

[(0, 'PriceID', 'INTEGER', 0, None, 1),
 (1, 'PriceCategory', 'TEXT', 1, None, 0)]

In [45]:
%%sql
pragma table_info('TIMEDIMENSION');

Done.

[(0, 'TimeID', 'INTEGER', 0, None, 1),
 (1, 'ActivityPeriod', 'INTEGER', 1, None, 0)]

In [46]:
%%sql
pragma table_info('GEOGRAPHICDIMENSION');

Done.

[(0, 'GeoID', 'INTEGER', 0, None, 1),
 (1, 'GeoSummary', 'TEXT', 1, None, 0),
 (2, 'GeoRegion', 'TEXT', 1, None, 0)]

In [47]:
%%sql
pragma table_info('OPERATINGAIRDIMENSION');

Done.

[(0, 'OperatingID', 'INTEGER', 0, None, 1),
 (1, 'OperatingAirlineIdentifier', 'TEXT', 0, None, 0),
 (2, 'OperatingIATA', 'TEXT', 0, None, 0)]

In [48]:
%%sql
pragma table_info('BRIDGEDIMENSION');

Done.

[(0, 'BridgeID', 'INTEGER', 0, None, 1),
 (1, 'PublishedID', 'INTERGER', 1, None, 0),
 (2, 'OperatingID', 'INTERGER', 1, None, 0)]

In [49]:
%%sql
pragma table_info('PUBLISHEDAIRDIMENSION');

Done.

[(0, 'PublishedID', 'INTEGER', 0, None, 1),
 (1, 'PublishedAirline', 'TEXT', 0, None, 0),
 (2, 'PublishedIATA', 'TEXT', 0, None, 0)]

In [11]:
%%sql
pragma table_info('PASSENGERFACT');

Done.

[(0, 'EntryID', 'INTEGER', 0, None, 1),
 (1, 'OperatingID', 'INTEGER', 0, None, 0),
 (2, 'AirportID', 'INTEGER', 0, None, 0),
 (3, 'GeoID', 'INTEGER', 0, None, 0),
 (4, 'ActivityID', 'INTEGER', 0, None, 0),
 (5, 'TimeID', 'INTEGER', 0, None, 0),
 (6, 'PublishedID', 'INTEGER', 0, None, 0),
 (7, 'PriceID', 'INTEGER', 0, None, 0),
 (8, 'PassengerCount', 'INTEGER', 1, None, 0)]

There we go!