## SQLite DDL

## This notebook is the DDL of the air traffic database.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [1]:
import sqlite3
import pandas as pd

%load_ext sql

### Connecting to the database

In [2]:
%sql sqlite:///airtraffic.db

'Connected: None@airtraffic.db'

### Creating tables schema

In [3]:
%%sql 
CREATE TABLE AIRPORTDIMENSION (
    AirportID INTEGER PRIMARY KEY,
    Terminal TEXT NOT NULL,
    BoardingArea TEXT
);

Done.

[]

In [4]:
%%sql 
CREATE TABLE GEOGRAPHICDIMENSION (
    GeoID INTEGER PRIMARY KEY,
    GeoSummary TEXT NOT NULL,
    GeoRegion TEXT NOT NULL
);

Done.

[]

In [5]:
%%sql 
CREATE TABLE OPERATINGAIRDIMENSION (
    OperatingID INTEGER PRIMARY KEY,
    OperatingAirlineIdentifier TEXT,
    OperatingIATA TEXT
);

Done.

[]

In [6]:
%%sql 
CREATE TABLE PUBLISHEDAIRDIMENSION (
    PublishedID INTEGER PRIMARY KEY,
    PublishedAirline TEXT,
    PublishedIATA TEXT
);

Done.

[]

In [7]:
%%sql
CREATE TABLE BRIDGEDIMENSION (
    BridgeID INTEGER PRIMARY KEY,
    PublishedID INTERGER NOT NULL,
    OperatingID INTERGER NOT NULL,
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID),
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
);

Done.

[]

In [3]:
%%sql
CREATE TABLE ACTIVITYDIMENSION (
    ActivityID INTEGER PRIMARY KEY,
    ActivityType TEXT NOT NULL
);

Done.

[]

In [9]:
%%sql
CREATE TABLE PRICEDIMENSION (
    PriceID INTEGER PRIMARY KEY,
    PriceCategory TEXT NOT NULL
);

Done.

[]

In [7]:
%%sql
CREATE TABLE IF NOT EXISTS TIMEDIMENSION (
    TimeID INTEGER PRIMARY KEY,
    ActivityPeriod INTEGER NOT NULL
);

Done.

[]

In [14]:
%%sql
CREATE TABLE PASSENGERFACT (
    EntryID INTEGER PRIMARY KEY,
    OperatingID INTERGER,
    AirportID INTERGER,
    GeoID INTERGER,
    ActivityID INTEGER,
    TimeID INTEGER,
    PublishedID INTEGER,
    PassengerCount INTEGER NOT NULL,
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
    FOREIGN KEY (AirportID) REFERENCES AIRPORTDIMENSION (AirportID),
    FOREIGN KEY (GeoID) REFERENCES GEOGRAPHICDIMENSION (GeoID),
    FOREIGN KEY (ActivityID) REFERENCES ACTIVITYDIMENSION (ActivityID),
    FOREIGN KEY (TimeID) REFERENCES TIMEDIMENSION (TimeID),
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID)
);

Done.

[]

In [11]:
%%sql 
DROP TABLE PASSENGERFACT;

Done.

[]

### Viewing table schema with pragma queries

In [12]:
%%sql
pragma table_info('AIRPORTDIMENSION');

Done.

[(0, 'AirportID', 'INTEGER', 0, None, 1),
 (1, 'Terminal', 'TEXT', 1, None, 0),
 (2, 'BoardingArea', 'TEXT', 0, None, 0)]

In [13]:
%%sql
pragma table_info('ACTIVITYDIMENSION');

Done.

[(0, 'ActivityID', 'INTEGER', 0, None, 1),
 (1, 'ActivityType', 'TEXT', 1, None, 0)]

In [14]:
%%sql
pragma table_info('PRICEDIMENSION');

Done.

[(0, 'PriceID', 'INTEGER', 0, None, 1),
 (1, 'PriceCategory', 'TEXT', 1, None, 0)]

In [8]:
%%sql
pragma table_info('TIMEDIMENSION');

Done.

[(0, 'TimeID', 'INTEGER', 0, None, 1),
 (1, 'ActivityPeriod', 'INTEGER', 1, None, 0)]

In [16]:
%%sql
pragma table_info('GEOGRAPHICDIMENSION');

Done.

[(0, 'GeoID', 'INTEGER', 0, None, 1),
 (1, 'GeoSummary', 'TEXT', 1, None, 0),
 (2, 'GeoRegion', 'TEXT', 1, None, 0)]

In [17]:
%%sql
pragma table_info('OPERATINGAIRDIMENSION');

Done.

[(0, 'OperatingID', 'INTEGER', 0, None, 1),
 (1, 'OperatingAirlineIdentifier', 'TEXT', 0, None, 0),
 (2, 'OperatingIATA', 'TEXT', 0, None, 0)]

In [18]:
%%sql
pragma table_info('BRIDGEDIMENSION');

Done.

[(0, 'BridgeID', 'INTEGER', 0, None, 1),
 (1, 'PublishedID', 'INTERGER', 1, None, 0),
 (2, 'OperatingID', 'INTERGER', 1, None, 0)]

In [19]:
%%sql
pragma table_info('PUBLISHEDAIRDIMENSION');

Done.

[(0, 'PublishedID', 'INTEGER', 0, None, 1),
 (1, 'PublishedAirline', 'TEXT', 0, None, 0),
 (2, 'PublishedIATA', 'TEXT', 0, None, 0)]

In [13]:
%%sql
pragma table_info('PASSENGERFACT');

Done.

[(0, 'EntryID', 'INTEGER', 0, None, 1),
 (1, 'OperatingID', 'INTERGER', 0, None, 0),
 (2, 'AirportID', 'INTERGER', 0, None, 0),
 (3, 'GeoID', 'INTERGER', 0, None, 0),
 (4, 'ActivityID', 'INTEGER', 0, None, 0),
 (5, 'TimeID', 'INTEGER', 0, None, 0),
 (6, 'PublishedID', 'INTEGER', 0, None, 0),
 (7, 'PassengerCount', 'INTEGER', 1, None, 0)]