## SQLite DDL

## This notebook is the DDL of the air traffic database.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [15]:
import sqlite3
import pandas as pd

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connecting to the database

In [23]:
%sql sqlite:///airtraffic.db

'Connected: None@airtraffic.db'

### Creating tables schema

In [24]:
%%sql 
CREATE TABLE AIRTERMINAL (
    AirID INTEGER PRIMARY KEY,
    Terminal TEXT NOT NULL,
    BoardingArea TEXT
);

Done.

[]

In [21]:
%%sql 
CREATE TABLE  (
    DealID INTEGER PRIMARY KEY,
    DealName TEXT NOT NULL,
    Location TEXT
);

'Connected: None@deals.db'

In [22]:
%%sql 
CREATE TABLE Deals (
    DealID INTEGER PRIMARY KEY,
    DealName TEXT NOT NULL,
    Location TEXT
);

Done.

[]