# SQLite DML for *All About SFO*

## This notebook is the DML of the air passenger database. It is used to populate the tables with data.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [5]:
import sqlite3
import pandas as pd

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connecting to the database

In [6]:
%sql sqlite:///airpassenger.db

'Connected: None@airpassenger.db'

### Populating all the tables, and seeing what's there
flighdata is a table contained all columns from Air_Traffic_Passenger_Statistics.csv

In [11]:
%%sql 
/* *** importing data into AIRPORTDIMENSION table  *** */
Insert into AIRPORTDIMENSION (Terminal, BoardingArea)
Select distinct Terminal, BoardingArea
from flightdata;

Done.

[]

In [12]:
%%sql 
select *
from AIRPORTDIMENSION;

Done.

[(1, 'Terminal 1', 'B'),
 (2, 'International', 'G'),
 (3, 'International', 'A'),
 (4, 'Terminal 3', 'E'),
 (5, 'Terminal 1', 'C'),
 (6, 'Terminal 1', 'A'),
 (7, 'Terminal 3', 'F'),
 (8, 'Other', 'Other'),
 (9, 'Terminal 2', 'D')]

In [9]:
%%sql 
/* *** importing data into GEOGRAPHICDIMENSION table  *** */
Insert into GEOGRAPHICDIMENSION (GeoSummary, GeoRegion)
Select distinct GEOSummary, GEORegion
from flightdata;

9 rows affected.

[]

In [10]:
%%sql 
select *
from GEOGRAPHICDIMENSION;

Done.

[(1, 'Domestic', 'US'),
 (2, 'International', 'Canada'),
 (3, 'International', 'Asia'),
 (4, 'International', 'Europe'),
 (5, 'International', 'Australia / Oceania'),
 (6, 'International', 'Mexico'),
 (7, 'International', 'Central America'),
 (8, 'International', 'Middle East'),
 (9, 'International', 'South America')]

In [11]:
%%sql
/* *** importing data into OPERATINGAIRDIMENSION table  *** */
Insert into OPERATINGAIRDIMENSION (OperatingAirlineIdentifier,OperatingIATA )
Select distinct OperatingAirline, OperatingAirlineIATACode
from flightdata;

85 rows affected.

[]

In [12]:
%%sql 
select *
from OPERATINGAIRDIMENSION;

Done.

[(1, 'ATA Airlines', 'TZ'),
 (2, 'Air Canada', 'AC'),
 (3, 'Air China', 'CA'),
 (4, 'Air France', 'AF'),
 (5, 'Air New Zealand', 'NZ'),
 (6, 'AirTran Airways', 'FL'),
 (7, 'Alaska Airlines', 'AS'),
 (8, 'All Nippon Airways', 'NH'),
 (9, 'American Airlines', 'AA'),
 (10, 'American Eagle Airlines', 'MQ'),
 (11, 'Asiana Airlines', 'OZ'),
 (12, 'Atlantic Southeast Airlines', 'EV'),
 (13, 'BelAir Airlines', '4T'),
 (14, 'British Airways', 'BA'),
 (15, 'Cathay Pacific', 'CX'),
 (16, 'China Airlines', 'CI'),
 (17, 'Delta Air Lines', 'DL'),
 (18, 'EVA Airways', 'BR'),
 (19, 'Frontier Airlines', 'F9'),
 (20, 'Hawaiian Airlines', 'HA'),
 (21, 'Horizon Air ', 'QX'),
 (22, 'Icelandair', 'FI'),
 (23, 'Independence Air', 'DH'),
 (24, 'Japan Airlines', 'JL'),
 (25, 'KLM Royal Dutch Airlines', 'KL'),
 (26, 'Korean Air Lines', 'KE'),
 (27, 'Lufthansa German Airlines', 'LH'),
 (28, 'Mesa Airlines', 'YV'),
 (29, 'Mexicana Airlines', 'MX'),
 (30, 'Midwest Airlines', 'YX'),
 (31, 'Northwest Airlines', 'NW'),
 (32, 'Philippine Airlines', 'PR'),
 (33, 'Singapore Airlines', 'SQ'),
 (34, 'SkyWest Airlines', 'OO'),
 (35, 'Sun Country Airlines', 'SY'),
 (36, 'TACA', 'TA'),
 (37, 'US Airways', 'US '),
 (38, 'United Airlines', 'UA'),
 (39, 'United Airlines - Pre 07/01/2013', 'UA'),
 (40, 'Virgin Atlantic', 'VS'),
 (41, 'WestJet Airlines', 'WS'),
 (42, 'Boeing Company', ''),
 (43, 'Ameriflight', 'A8'),
 (44, 'Miami Air International', 'GL'),
 (45, 'Air Canada Jazz', 'QK'),
 (46, 'Qantas Airways', 'QF'),
 (47, 'Spirit Airlines', 'NK'),
 (48, 'Xtra Airways', 'XP'),
 (49, 'Evergreen International Airlines', 'EZ'),
 (50, 'Aeromexico', 'AM'),
 (51, 'JetBlue Airways', 'B6'),
 (52, 'ExpressJet Airlines', 'XE'),
 (53, 'Southwest Airlines', 'WN'),
 (54, 'Virgin America', 'VX'),
 (55, 'Aer Lingus', 'EI'),
 (56, 'Allegiant Air', 'G4'),
 (57, 'Jet Airways', '9W'),
 (58, 'BelAir Airlines', 'BBB'),
 (59, 'Emirates ', 'EK'),
 (60, 'Mesaba Airlines', 'XJ'),
 (61, 'Servisair', ''),
 (62, 'World Airways', 'WO'),
 (63, 'Air Berlin', 'AB'),
 (64, 'Republic Airlines', 'RW'),
 (65, 'Pacific Aviation', ''),
 (66, 'Swiss International', 'LX'),
 (67, 'LAN Peru', 'LP'),
 (68, 'Swissport USA', ''),
 (69, 'XL Airways France', 'SE'),
 (70, 'China Eastern', 'MU'),
 (71, 'SAS Airlines', 'SK'),
 (72, 'Atlas Air, Inc', '5Y'),
 (73, 'Compass Airlines', 'CP'),
 (74, 'Etihad Airways', 'EY'),
 (75, 'China Southern', 'CZ'),
 (76, 'Turkish Airlines', 'TK'),
 (77, 'COPA Airlines, Inc.', 'CM'),
 (78, 'Air India Limited', 'AI'),
 (79, 'Air Pacific Limited dba Fiji Airways', 'FJ'),
 (80, 'Jazz Aviation', 'QK'),
 (81, 'WOW Air', 'WW'),
 (82, 'Volaris Airlines', 'Y4'),
 (83, 'Thomas Cook Airlines', 'MT'),
 (84, 'Trego Dugan Aviation', ''),
 (85, 'Finnair', 'AY')]

In [13]:
%%sql 
/* *** importing data into PUBLISHEDAIRDIMENSION table  *** */
Insert into PUBLISHEDAIRDIMENSION (PublishedAirline, PublishedIATA )
Select distinct PublishedAirline, PublishedAirlineIATACode 
from flightdata;

75 rows affected.

[]

In [14]:
%%sql 
select *
from PUBLISHEDAIRDIMENSION;

Done.

[(1, 'ATA Airlines', 'TZ'),
 (2, 'Air Canada', 'AC'),
 (3, 'Air China', 'CA'),
 (4, 'Air France', 'AF'),
 (5, 'Air New Zealand', 'NZ'),
 (6, 'AirTran Airways', 'FL'),
 (7, 'Alaska Airlines', 'AS'),
 (8, 'All Nippon Airways', 'NH'),
 (9, 'American Airlines', 'AA'),
 (10, 'Asiana Airlines', 'OZ'),
 (11, 'Delta Air Lines', 'DL'),
 (12, 'BelAir Airlines', '4T'),
 (13, 'British Airways', 'BA'),
 (14, 'Cathay Pacific', 'CX'),
 (15, 'China Airlines', 'CI'),
 (16, 'EVA Airways', 'BR'),
 (17, 'Frontier Airlines', 'F9'),
 (18, 'Hawaiian Airlines', 'HA'),
 (19, 'Icelandair', 'FI'),
 (20, 'Independence Air', 'DH'),
 (21, 'Japan Airlines', 'JL'),
 (22, 'KLM Royal Dutch Airlines', 'KL'),
 (23, 'Korean Air Lines', 'KE'),
 (24, 'Lufthansa German Airlines', 'LH'),
 (25, 'US Airways', 'US '),
 (26, 'Mexicana Airlines', 'MX'),
 (27, 'Midwest Airlines', 'YX'),
 (28, 'Northwest Airlines', 'NW'),
 (29, 'Philippine Airlines', 'PR'),
 (30, 'Singapore Airlines', 'SQ'),
 (31, 'United Airlines - Pre 07/01/2013', 'UA'),
 (32, 'Sun Country Airlines', 'SY'),
 (33, 'TACA', 'TA'),
 (34, 'United Airlines', 'UA'),
 (35, 'Virgin Atlantic', 'VS'),
 (36, 'WestJet Airlines', 'WS'),
 (37, 'Boeing Company', ''),
 (38, 'Ameriflight', 'A8'),
 (39, 'Miami Air International', 'GL'),
 (40, 'Qantas Airways', 'QF'),
 (41, 'Spirit Airlines', 'NK'),
 (42, 'Xtra Airways', 'XP'),
 (43, 'Evergreen International Airlines', 'EZ'),
 (44, 'Aeromexico', 'AM'),
 (45, 'JetBlue Airways', 'B6'),
 (46, 'Southwest Airlines', 'WN'),
 (47, 'Virgin America', 'VX'),
 (48, 'Aer Lingus', 'EI'),
 (49, 'Allegiant Air', 'G4'),
 (50, 'Jet Airways', '9W'),
 (51, 'BelAir Airlines', 'BBB'),
 (52, 'Emirates ', 'EK'),
 (53, 'Servisair', ''),
 (54, 'World Airways', 'WO'),
 (55, 'Air Berlin', 'AB'),
 (56, 'Republic Airlines', 'RW'),
 (57, 'Pacific Aviation', ''),
 (58, 'Swiss International', 'LX'),
 (59, 'LAN Peru', 'LP'),
 (60, 'Swissport USA', ''),
 (61, 'XL Airways France', 'SE'),
 (62, 'China Eastern', 'MU'),
 (63, 'SAS Airlines', 'SK'),
 (64, 'Atlas Air, Inc', '5Y'),
 (65, 'Etihad Airways', 'EY'),
 (66, 'China Southern', 'CZ'),
 (67, 'Turkish Airlines', 'TK'),
 (68, 'COPA Airlines, Inc.', 'CM'),
 (69, 'Air India Limited', 'AI'),
 (70, 'Air Pacific Limited dba Fiji Airways', 'FJ'),
 (71, 'WOW Air', 'WW'),
 (72, 'Volaris Airlines', 'Y4'),
 (73, 'Thomas Cook Airlines', 'MT'),
 (74, 'Trego Dugan Aviation', ''),
 (75, 'Finnair', 'AY')]

In [15]:
%%sql
/* *** importing data into BRIDGEDIMENSION table  *** */
Insert into BRIDGEDIMENSION (PublishedID,OperatingID)
Select distinct PUBLISHEDAIRDIMENSION.PublishedID, OPERATINGAIRDIMENSION.OperatingID
from  PUBLISHEDAIRDIMENSION JOIN flightdata ON (PUBLISHEDAIRDIMENSION.PublishedAirline = flightdata.PublishedAirline)
            JOIN OPERATINGAIRDIMENSION ON (flightdata.OperatingAirline = OPERATINGAIRDIMENSION.OperatingAirlineIdentifier);

94 rows affected.

[]

In [16]:
%%sql 
select *
from BRIDGEDIMENSION;

Done.

[(1, 1, 1),
 (2, 2, 2),
 (3, 2, 45),
 (4, 2, 80),
 (5, 3, 3),
 (6, 4, 4),
 (7, 5, 5),
 (8, 6, 6),
 (9, 7, 7),
 (10, 7, 21),
 (11, 7, 34),
 (12, 8, 8),
 (13, 9, 9),
 (14, 9, 10),
 (15, 9, 73),
 (16, 9, 28),
 (17, 9, 34),
 (18, 10, 11),
 (19, 11, 12),
 (20, 11, 73),
 (21, 11, 17),
 (22, 11, 52),
 (23, 11, 60),
 (24, 11, 34),
 (25, 12, 13),
 (26, 12, 58),
 (27, 13, 14),
 (28, 14, 15),
 (29, 15, 16),
 (30, 16, 18),
 (31, 17, 19),
 (32, 18, 20),
 (33, 19, 22),
 (34, 20, 23),
 (35, 21, 24),
 (36, 22, 25),
 (37, 23, 26),
 (38, 24, 27),
 (39, 25, 28),
 (40, 25, 37),
 (41, 26, 29),
 (42, 27, 30),
 (43, 28, 31),
 (44, 29, 32),
 (45, 30, 33),
 (46, 31, 34),
 (47, 31, 39),
 (48, 32, 35),
 (49, 33, 36),
 (50, 34, 28),
 (51, 34, 34),
 (52, 34, 38),
 (53, 35, 40),
 (54, 36, 41),
 (55, 37, 42),
 (56, 38, 43),
 (57, 39, 44),
 (58, 40, 46),
 (59, 41, 47),
 (60, 42, 48),
 (61, 43, 49),
 (62, 44, 50),
 (63, 45, 51),
 (64, 46, 53),
 (65, 47, 54),
 (66, 48, 55),
 (67, 49, 56),
 (68, 50, 57),
 (69, 51, 13),
 (70, 51, 58),
 (71, 52, 59),
 (72, 53, 61),
 (73, 54, 62),
 (74, 55, 63),
 (75, 56, 64),
 (76, 57, 65),
 (77, 58, 66),
 (78, 59, 67),
 (79, 60, 68),
 (80, 61, 69),
 (81, 62, 70),
 (82, 63, 71),
 (83, 64, 72),
 (84, 65, 74),
 (85, 66, 75),
 (86, 67, 76),
 (87, 68, 77),
 (88, 69, 78),
 (89, 70, 79),
 (90, 71, 81),
 (91, 72, 82),
 (92, 73, 83),
 (93, 74, 84),
 (94, 75, 85)]

In [17]:
%%sql 
/* *** importing data into ACTIVITYDIMENSION table  *** */
Insert into ACTIVITYDIMENSION (ActivityType)
Select distinct ActivityTypeCode  
from flightdata;

3 rows affected.

[]

In [18]:
%%sql 
select *
from ACTIVITYDIMENSION;

Done.

[(1, 'Deplaned'), (2, 'Enplaned'), (3, 'Thru / Transit')]

In [19]:
%%sql 
/* *** importing data into PRICEDIMENSION table  *** */
Insert into  PRICEDIMENSION (PriceCategory)
Select distinct PriceCategoryCode 
from flightdata;

2 rows affected.

[]

In [20]:
%%sql 
select *
from PRICEDIMENSION;

Done.

[(1, 'Low Fare'), (2, 'Other')]

In [21]:
%%sql 
/* *** importing data into TIMEDIMENSION table  *** */
Insert into TIMEDIMENSION (ActivityPeriod)
Select distinct ActivityPeriod 
from flightdata;

147 rows affected.

[]

In [22]:
%%sql
select *
from TIMEDIMENSION;

Done.

[(1, 200507),
 (2, 200508),
 (3, 200509),
 (4, 200608),
 (5, 200510),
 (6, 200511),
 (7, 200512),
 (8, 200601),
 (9, 200602),
 (10, 200603),
 (11, 200604),
 (12, 200605),
 (13, 200606),
 (14, 200607),
 (15, 200609),
 (16, 200610),
 (17, 200611),
 (18, 200612),
 (19, 200701),
 (20, 200702),
 (21, 200703),
 (22, 200704),
 (23, 200705),
 (24, 200706),
 (25, 200707),
 (26, 200708),
 (27, 200709),
 (28, 200710),
 (29, 200711),
 (30, 200712),
 (31, 200801),
 (32, 200802),
 (33, 200803),
 (34, 200804),
 (35, 200805),
 (36, 200806),
 (37, 200807),
 (38, 200808),
 (39, 200809),
 (40, 200810),
 (41, 200811),
 (42, 200812),
 (43, 200901),
 (44, 200902),
 (45, 200903),
 (46, 200904),
 (47, 200905),
 (48, 200906),
 (49, 200907),
 (50, 201103),
 (51, 200908),
 (52, 200909),
 (53, 200910),
 (54, 200911),
 (55, 200912),
 (56, 201110),
 (57, 201001),
 (58, 201002),
 (59, 201003),
 (60, 201004),
 (61, 201005),
 (62, 201006),
 (63, 201007),
 (64, 201008),
 (65, 201009),
 (66, 201010),
 (67, 201011),
 (68, 201012),
 (69, 201101),
 (70, 201102),
 (71, 201104),
 (72, 201105),
 (73, 201106),
 (74, 201107),
 (75, 201108),
 (76, 201109),
 (77, 201111),
 (78, 201112),
 (79, 201201),
 (80, 201202),
 (81, 201203),
 (82, 201204),
 (83, 201205),
 (84, 201206),
 (85, 201207),
 (86, 201208),
 (87, 201209),
 (88, 201210),
 (89, 201211),
 (90, 201212),
 (91, 201301),
 (92, 201302),
 (93, 201303),
 (94, 201304),
 (95, 201305),
 (96, 201306),
 (97, 201307),
 (98, 201308),
 (99, 201309),
 (100, 201310),
 (101, 201311),
 (102, 201312),
 (103, 201401),
 (104, 201402),
 (105, 201403),
 (106, 201404),
 (107, 201405),
 (108, 201406),
 (109, 201407),
 (110, 201408),
 (111, 201409),
 (112, 201410),
 (113, 201411),
 (114, 201412),
 (115, 201501),
 (116, 201502),
 (117, 201503),
 (118, 201504),
 (119, 201505),
 (120, 201506),
 (121, 201507),
 (122, 201508),
 (123, 201509),
 (124, 201510),
 (125, 201511),
 (126, 201512),
 (127, 201601),
 (128, 201602),
 (129, 201603),
 (130, 201604),
 (131, 201605),
 (132, 201606),
 (133, 201607),
 (134, 201608),
 (135, 201609),
 (136, 201610),
 (137, 201611),
 (138, 201612),
 (139, 201701),
 (140, 201702),
 (141, 201703),
 (142, 201704),
 (143, 201705),
 (144, 201706),
 (145, 201707),
 (146, 201708),
 (147, 201709)]

In [4]:
%%sql 
/* *** importing data into PASSENGERFACT table  *** */
Insert into PASSENGERFACT (PassengerCount, OperatingID, AirportID, GeoID, ActivityID, TimeID, PublishedID, PriceID)
Select distinct PassengerCount, OPERATINGAIRDIMENSION.OperatingID, AIRPORTDIMENSION.AirportID, GEOGRAPHICDIMENSION.GeoID, ACTIVITYDIMENSION.ActivityID, TIMEDIMENSION.TimeID, PUBLISHEDAIRDIMENSION.PublishedID, PRICEDIMENSION.PriceID 
from  OPERATINGAIRDIMENSION JOIN flightdata ON (OPERATINGAIRDIMENSION.OperatingAirlineIdentifier=flightdata.OperatingAirline)
            JOIN  AIRPORTDIMENSION ON (flightdata.Terminal=AIRPORTDIMENSION.Terminal)
            JOIN GEOGRAPHICDIMENSION ON (flightdata.GEOSummary=GEOGRAPHICDIMENSION.GeoSummary)
            JOIN ACTIVITYDIMENSION ON (flightdata.ActivityTypeCode=ACTIVITYDIMENSION.ActivityType)
            JOIN TIMEDIMENSION ON (flightdata.ActivityPeriod=TIMEDIMENSION.ActivityPeriod)
            JOIN PUBLISHEDAIRDIMENSION ON (PUBLISHEDAIRDIMENSION.PublishedAirline = flightdata.PublishedAirline)
            JOIN PRICEDIMENSION ON (PRICEDIMENSION.PriceCategory = flightdata.PriceCategoryCode);

387630 rows affected.

[]

And that's all, folks! Check out the rest now!