## SQLite DDL

## This notebook is the DDL of the air traffic database.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [29]:
import sqlite3
import pandas as pd

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connecting to the database

In [30]:
%sql sqlite:///airtraffic.db

'Connected: None@airtraffic.db'

### Creating tables schema

In [31]:
%%sql 
CREATE TABLE AIRPORTDIMENSION (
    AirportID INTEGER PRIMARY KEY,
    Terminal TEXT NOT NULL,
    BoardingArea TEXT
);

(sqlite3.OperationalError) table AIRPORTDIMENSION already exists [SQL: 'CREATE TABLE AIRPORTDIMENSION (\n    AirportID INTEGER PRIMARY KEY,\n    Terminal TEXT NOT NULL,\n    BoardingArea TEXT\n);']

In [32]:
%%sql 
CREATE TABLE GEOGRAPHICDIMENSION (
    GeoID INTEGER PRIMARY KEY,
    GeoSummary TEXT NOT NULL,
    GeoRegion TEXT NOT NULL
);

(sqlite3.OperationalError) table GEOGRAPHICDIMENSION already exists [SQL: 'CREATE TABLE GEOGRAPHICDIMENSION (\n    GeoID INTEGER PRIMARY KEY,\n    GeoSummary TEXT NOT NULL,\n    GeoRegion TEXT NOT NULL\n);']

In [33]:
%%sql 
CREATE TABLE OPERATINGAIRDIMENSION (
    OperatingID INTEGER PRIMARY KEY,
    OperatingAirlineIdentifier TEXT,
    OperatingIATA TEXT
);

(sqlite3.OperationalError) table OPERATINGAIRDIMENSION already exists [SQL: 'CREATE TABLE OPERATINGAIRDIMENSION (\n    OperatingID INTEGER PRIMARY KEY,\n    OperatingAirlineIdentifier TEXT,\n    OperatingIATA TEXT\n);']

In [34]:
%%sql 
CREATE TABLE PUBLISHEDAIRDIMENSION (
    PublishedID INTEGER PRIMARY KEY,
    PublishedAirline TEXT,
    PublishedIATA TEXT
);

(sqlite3.OperationalError) table PUBLISHEDAIRDIMENSION already exists [SQL: 'CREATE TABLE PUBLISHEDAIRDIMENSION (\n    PublishedID INTEGER PRIMARY KEY,\n    PublishedAirline TEXT,\n    PublishedIATA TEXT\n);']

In [35]:
%%sql
CREATE TABLE BRIDGEDIMENSION (
    BridgeID INTEGER PRIMARY KEY,
    PublishedID INTERGER NOT NULL,
    OperatingID INTERGER NOT NULL,
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID),
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
);

(sqlite3.OperationalError) table BRIDGEDIMENSION already exists [SQL: 'CREATE TABLE BRIDGEDIMENSION (\n    BridgeID INTEGER PRIMARY KEY,\n    PublishedID INTERGER NOT NULL,\n    OperatingID INTERGER NOT NULL,\n    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID),\n    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)\n);']

In [36]:
%%sql
CREATE TABLE ACTIVITYDIMENSION (
    ActivityID INTEGER PRIMARY KEY,
    ActivityType TEXT NOT NULL
);

Done.

[]

In [37]:
%%sql
CREATE TABLE PRICEDIMENSION (
    PriceID INTEGER PRIMARY KEY,
    PriceCategory TEXT NOT NULL
);

(sqlite3.OperationalError) table PRICEDIMENSION already exists [SQL: 'CREATE TABLE PRICEDIMENSION (\n    PriceID INTEGER PRIMARY KEY,\n    PriceCategory TEXT NOT NULL\n);']

In [38]:
%%sql
CREATE TABLE TIMEDIMENSION (
    TimeID INTEGER PRIMARY KEY,
    ActivityPeriod INTEGER NOT NULL,
    ActivityPeriodMonth INTEGER NOT NULL,
    ActivityPeriodYear INTEGER NOT NULL
);

(sqlite3.OperationalError) table TIMEDIMENSION already exists [SQL: 'CREATE TABLE TIMEDIMENSION (\n    TimeID INTEGER PRIMARY KEY,\n    ActivityPeriod INTEGER NOT NULL,\n    ActivityPeriodMonth INTEGER NOT NULL,\n    ActivityPeriodYear INTEGER NOT NULL\n);']

In [39]:
%%sql
CREATE TABLE PASSENGERFACT (
    EntryID INTEGER PRIMARY KEY,
    OperatingID INTERGER NOT NULL,
    AirportID INTERGER NOT NULL,
    GeoID INTERGER NOT NULL,
    ActivityID INTEGER NOT NULL,
    TimeID INTEGER NOT NULL,
    PublishedID INTEGER NOT NULL,
    PassengerCount INTEGER NOT NULL,
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)
    FOREIGN KEY (AirportID) REFERENCES AIRPORTDIMENSION (AirportID),
    FOREIGN KEY (GeoID) REFERENCES GEOGRAPHICDIMENSION (GeoID),
    FOREIGN KEY (ActivityID) REFERENCES ACTIVITYDIMENSION (ActivityID),
    FOREIGN KEY (TimeID) REFERENCES TIMEDIMENSION (TimeID),
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID)
);

(sqlite3.OperationalError) table PASSENGERFACT already exists [SQL: 'CREATE TABLE PASSENGERFACT (\n    EntryID INTEGER PRIMARY KEY,\n    OperatingID INTERGER NOT NULL,\n    AirportID INTERGER NOT NULL,\n    GeoID INTERGER NOT NULL,\n    ActivityID INTEGER NOT NULL,\n    TimeID INTEGER NOT NULL,\n    PublishedID INTEGER NOT NULL,\n    PassengerCount INTEGER NOT NULL,\n    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID)\n    FOREIGN KEY (AirportID) REFERENCES AIRPORTDIMENSION (AirportID),\n    FOREIGN KEY (GeoID) REFERENCES GEOGRAPHICDIMENSION (GeoID),\n    FOREIGN KEY (ActivityID) REFERENCES ACTIVITYDIMENSION (ActivityID),\n    FOREIGN KEY (TimeID) REFERENCES TIMEDIMENSION (TimeID),\n    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID)\n);']

### Viewing table schema with pragma queries

In [40]:
%%sql
pragma table_info('AIRPORTDIMENSION');

Done.

[(0, 'AirportID', 'INTEGER', 0, None, 1),
 (1, 'Terminal', 'TEXT', 1, None, 0),
 (2, 'BoardingArea', 'TEXT', 0, None, 0)]

In [41]:
%%sql
pragma table_info('ACTIVITYDIMENSION');

Done.

[(0, 'ActivityID', 'INTEGER', 0, None, 1),
 (1, 'ActivityType', 'TEXT', 1, None, 0)]

In [42]:
%%sql
pragma table_info('PRICEDIMENSION');

Done.

[(0, 'PriceID', 'INTEGER', 0, None, 1),
 (1, 'PriceCategory', 'TEXT', 1, None, 0)]

In [43]:
%%sql
pragma table_info('TIMEDIMENSION');

Done.

[(0, 'TimeID', 'INTEGER', 0, None, 1),
 (1, 'ActivityPeriod', 'INTEGER', 1, None, 0),
 (2, 'ActivityPeriodMonth', 'INTEGER', 1, None, 0),
 (3, 'ActivityPeriodYear', 'INTEGER', 1, None, 0)]

In [44]:
%%sql
pragma table_info('GEOGRAPHICDIMENSION');

Done.

[(0, 'GeoID', 'INTEGER', 0, None, 1),
 (1, 'GeoSummary', 'TEXT', 1, None, 0),
 (2, 'GeoRegion', 'TEXT', 1, None, 0)]

In [45]:
%%sql
pragma table_info('OPERATINGAIRDIMENSION');

Done.

[(0, 'OperatingID', 'INTEGER', 0, None, 1),
 (1, 'OperatingAirlineIdentifier', 'TEXT', 0, None, 0),
 (2, 'OperatingIATA', 'TEXT', 0, None, 0)]

In [46]:
%%sql
pragma table_info('BRIDGEDIMENSION');

Done.

[(0, 'BridgeID', 'INTEGER', 0, None, 1),
 (1, 'PublishedID', 'INTERGER', 1, None, 0),
 (2, 'OperatingID', 'INTERGER', 1, None, 0)]

In [47]:
%%sql
pragma table_info('PUBLISHEDAIRDIMENSION');

Done.

[(0, 'PublishedID', 'INTEGER', 0, None, 1),
 (1, 'PublishedAirline', 'TEXT', 0, None, 0),
 (2, 'PublishedIATA', 'TEXT', 0, None, 0)]