## SQLite DDL

## This notebook is the DDL of the air traffic database.

### Import sqlite3, Pandas, and the ipython-sql (%sql) Jupyter extension

In [1]:
import sqlite3
import pandas as pd

%load_ext sql

### Connecting to the database

In [2]:
%sql sqlite:///airtraffic.db

'Connected: None@airtraffic.db'

### Creating tables schema

In [3]:
%%sql 
CREATE TABLE AIRPORTDIMENSION (
    AirportID INTEGER PRIMARY KEY,
    Terminal TEXT NOT NULL,
    BoardingArea TEXT
);

Done.

[]

In [21]:
%%sql 
CREATE TABLE GEOGRAPHICDIMENSION (
    GeoID INTEGER PRIMARY KEY,
    GeoSummary TEXT NOT NULL,
    GeoRegion TEXT NOT NULL,
);

'Connected: None@deals.db'

In [22]:
%%sql 
CREATE TABLE OPERATINGAIRDIMENSION (
    OperatingID INTEGER PRIMARY KEY,
    OperatingAirlineIdentifier TEXT,
    OperatingIATA TEXT,
);

Done.

[]

In [ ]:
%%sql 
CREATE TABLE PUBLISHEDAIRDIMENSION (
    PublishedID INTEGER PRIMARY KEY,
    PublishedAirline TEXT,
    PublishedIATA TEXT,
);

In [ ]:

%%sql
CREATE Table BRIDGEDIMENSION (
    BridgeID INTEGER PRIMARY KEY,
    PublishedID INTERGER NOT NULL,
    OperatingID INTERGER NOT NULL,
    FOREIGN KEY (PublishedID) REFERENCES PUBLISHEDAIRDIMENSION (PublishedID),
    FOREIGN KEY (OperatingID) REFERENCES OPERATINGAIRDIMENSION (OperatingID),
);